
<div class="sh50">
<a href="/pages/batman.html">
  <img class="width" src="assets/batman_share.jpg" alt="Batman" >
</a>
</div>
<div class="sh50">
<a href="/pages/superman.html">
  <img src="assets/superman_share.jpg" alt="Superman">
</a>
</div>